.movie-card{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 50px;
    transition: scale 0.5s ease;
}
.movie-card:hover{
    /* transform-origin: left top; */
    scale: 1.1;
    cursor: pointer;
}

.movie-card__wrapper{
    position: relative;
}

.movie-card__wrapper--rotated{
    position: absolute;
    left: 0;
    bottom: -32%;
    width: 100%;
    transform: rotatex(180deg); 
    mask-image: linear-gradient(transparent 25%, white 250%);
    height: 30%;
}
.movie-card__wrapper--rotated .movie-card__poster {
    position: absolute;
    bottom: 0px;
} 

.movie-card__poster{
    display: block;
    object-fit: cover;
    width: 100%;

}
.movie-card__title, .movie-card__rating, .movie-card__missing{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    background-clip: padding-box;
    border-radius: 3px;
    line-height: 1.2;
    color: white;
    font-size: 0.8rem;
    padding: 5px; 
}
.movie-card__title{
    bottom: 10px;
    right: 10px;
    max-width: 70%;
    text-align: right;

}

.movie-card__rating{
    top: 10px;
    left: 10px; 
    text-align: left;

}

.movie-card__missing{
    top: 40%;
    left: 50%;
    translate:-50%;
    font-size: 0.35rem;
    text-align: center;
}