.main{
    max-width: 85vw;
    margin: 0 auto;
    min-height: calc(100vh - 147.05px); /*minus genres div height*/
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.main__main-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: start;
    padding: 10px;
}
.main__movies-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 20px;
    /* grid-auto-rows: 100px; */
    /* gap: 70px; */
    
}

.main__pagination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__pagination-container:last-child{
    margin-top: auto;
}

.message{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message__text{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

@media (width<=1300px){
    .main__movies-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (width<=1000px){
    .main__movies-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width<=768px){
    .main__main-heading{
        font-size: 1.2rem;
    }
    .main__movies-container{
        grid-template-columns: repeat(2, 1fr);
    }
}