.main{
    max-width: 85vw;
    margin: 0 auto 50px;
    /* margin: 0 auto; */
    /* padding: ; */
    /* height: 100vh; */
}
.main__main-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: start;
    padding: 10px;
}
.main__movies-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: 100px; */
    /* gap: 70px; */
    
}

.main__pagination-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}