.header{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    z-index: 2;
}

.header__logo-wrapper{
    width: 80px;
    display: block;
}

.header__search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.2);
}

.header__search-icon-wrapper, .header__delete-icon-wrapper{
    width: 20px;
    display: block;
    margin: 5px;
}

.header__search-icon-wrapper:hover{
    cursor: pointer;
}

.header__search-box .header__search-icon-wrapper:hover{
    cursor: auto;
}

.header__search-box .header__delete-icon:hover{
    cursor: pointer;
}



.header__delete-icon-wrapper{
    width: 10px;
}
.header__delete-icon-wrapper:hover{
    cursor: default;
}

.header__search-icon, .header__delete-icon{
    filter: invert(100%) sepia(96%) saturate(16%) hue-rotate(335deg) brightness(106%) contrast(103%);
    vertical-align: middle;
    
}

.header__search-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.header__cover-container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__cover-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    width: 100%;
    mask-image: linear-gradient( white 75%, transparent 93%)
}
.header__cover-data{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 30px 30px 60px;

    background-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 3px;
}

.header__cover-title{
    font-size: 3rem;
    color: rgb(251, 251, 251);
    font-weight: bold;

}
.header__cover-overview{
    line-height: 1.5;
    color: rgb(251, 251, 251);

}

.header__trailer-btn , .header__more-btn{
    font-size: 1.4rem;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    font-weight: 500;
}
.header__trailer-btn{
    background-color: rgb(251, 251, 251);
}
.header__trailer-btn:hover{
    background-color: rgba(236, 236, 236, 0.762);
    cursor: pointer;
}

.header__more-btn{
    background-color:rgba(255, 255, 255, 0.4);
    color: rgb(251, 251, 251);
    text-decoration: none;
   
}

.header__more-btn:hover{
    background-color:rgba(255, 255, 255, 0.3);
    color: rgb(251, 251, 251);
    cursor: pointer;
    
}

.header__slider-wrapper{
    width: 100%;
    padding: 0 80px 10px;
}

.header__slider-wrapper .movie-card {
    margin: 0 10px;
}
.header__slider-wrapper .slick-dots{
    position: relative;
    bottom: 0;
}
.header__slider-wrapper .slick-list{
    padding-bottom: 10px;
}
.header__slider-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}
