.header{
    height: 100%;
    position: relative;
}

.header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 2;
}

.header__nav--search{
    position: relative;
    background-color: rgb(31, 31, 31);
}

.header__logo-wrapper{
    width: 80px;
    display: block;
}

.header__search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.header__search-icon-wrapper, .header__delete-icon-wrapper{
    width: 20px;
    display: block;
    margin: 5px;
}

.header__search-icon-wrapper:hover{
    cursor: pointer;
}

.header__search-box .header__search-icon-wrapper:hover{
    cursor: auto;
}

.header__search-box .header__delete-icon:hover{
    cursor: pointer;
}



.header__delete-icon-wrapper{
    width: 10px;
}
.header__delete-icon-wrapper:hover{
    cursor: default;
}

.header__search-icon, .header__delete-icon{
    filter: invert(100%) sepia(96%) saturate(16%) hue-rotate(335deg) brightness(106%) contrast(103%);
    vertical-align: middle;
    
}

.header__search-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.header__cover-container{
    position: relative;
    height: 50vh;
}

.header__cover-image{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.header__cover-title{
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 3rem;
    color: white;
    font-weight: bold;

}

.header__trailer-btn{
    position: absolute;
    top: 60%;
    left:50px;
}
